<h1>{{ titulo }}</h1>

<form action="">
  <input type="text" name="nombre" [(ngModel)]="nombre" />
  <br />
  <input type="text" name="apellidos" [(ngModel)]="apellido" />
  <br />
  <input type="submit" value="Registrar" (click)="registrarUsuario()" />
</form>
<br />
<p *ngIf="registrado; else sinRegistrar">{{ mensaje }}</p>

<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>

<br />
<br />

<ul>
  <li *ngFor="let entrada of entradas; let i = index">
    {{ entrada.titulo }}
    . Entrada {{ i }}
  </li>
</ul>
